#SettingsFrame {
  background-color: #101f23;
  padding: 8px;
  border: 1px solid #1e2939;
  border-radius: 8px;
}

#AgentFrame, #MongoFrame, #LogFrame, QLabel, QLineEdit {
  background-color: transparent;
}

QLineEdit {
  background-color: #202b2f;
  padding: 4px;
}

QPushButton {
  background-color: #202b2f;
  color: #FFFFFF;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
}

QPushButton:hover {
  background-color: #2c3e44;
}