QTableView#StintsTable {
  border: none;
}

QHeaderView::section {
  border: none;
  background-color: #FFFAFA;
  letter-spacing: -1px;
  padding-bottom: 8px;
}

QTableView QTableCornerButton::section {
  border: none;
  background-color: #FFFAFA;
}

QTableView::item {
  border-bottom: 1px solid #E0E0E0;
}

QPushButton#TirePicker {
  /* background-color: red; */
}
